
{% extends 'common.html' %}
{% if request.session.admin_status %}
{% block yash %}
    {% load static %}
    {% include 'admin_menu.html' %}
     <style>
            .data{
                font-size: 20px;
                color: #ff00ff;
                background-color: #d6edf8;

            }
        </style>

    <br>
    {% if msg %}
        <h3 style="text-align: center;color: magenta"> {{ msg }}</h3> <br>
    {% endif %}

    <form action="{% url 'save_state' %}" method="post">
    {% csrf_token %}
    <table align="center" border="0" cellpadding="10" width="25%">
        <tr>
            <th style="text-align: center;font-size: 20px;background-color: cornflowerblue;color: white"> Add State </th>
        </tr>
        <tr>
            <th>
               <select class="form-control" name="t1" required>
                        <option> --Select a State-- </option>
                        <option> Andaman and Nicobar Islands </option>
                        <option> Andhra Pradesh </option>
	                    <option> Arunachal Pradesh </option>
	                    <option> Assam </option>
                        <option> Bihar </option>
                        <option> Chandigarh </option>
                        <option> Chhattisgarh </option>
                        <option> Dadra and Nagar Haveli </option>
                        <option> Daman and Diu </option>
                        <option> Delhi </option>
                        <option> Goa </option>
                        <option> Gujarat </option>
                        <option> Haryana </option>
                        <option> Himachal Pradesh </option>
                        <option> Jammu and Kashmir </option>
                        <option> Jharkhand </option>
                        <option> Karnataka </option>
                        <option> Kerala </option>
                        <option> Ladakh </option>
                        <option> Lakshadweep </option>
                        <option> Madhya Pradesh </option>
                        <option> Maharashtra </option>
                        <option> Manipur </option>
                        <option> Meghalaya </option>
                        <option> Mizoram </option>
                        <option> Nagaland </option>
                        <option> Odisha </option>
                        <option> Punjab </option>
                        <option> Puducherry </option>
                        <option> Rajasthan </option>
                        <option> Sikkim </option>
                        <option> Tamil Nadu </option>
                        <option> Telangana </option>
                        <option> Tripura </option>
                        <option> Uttar Pradesh </option>
                        <option> Uttarakhand </option>
                        <option> West Bengal </option>
                        </select>
            </th>
        </tr>
{#        <tr>#}
{#            <th>#}
{#                <select class="form-control" name="t2" required>#}
{#                        <option> --Select District-- </option>#}
{#                        <option> Balod </option>#}
{#                        <option> Baloda Bazar </option>#}
{#                        <option> Balrampur-Ramanujgang </option>#}
{#                        <option> Bastar </option>#}
{#                        <option> Bemetara </option>#}
{#                        <option> Bijapur </option>#}
{#                        <option> Bilaspur </option>#}
{#                        <option> Dantewada </option>#}
{#                        <option> Dhamtari </option>#}
{#                        <option> Durg </option>#}
{#                        <option> Gariaband </option>#}
{#                        <option> Jashpur </option>#}
{#                        <option> Janjgir-Champa </option>#}
{#                        <option> Kondagaon </option>#}
{#                        <option> Korba </option>#}
{#                        <option> Koriya </option>#}
{#                        <option> Kanker </option>#}
{#                        <option> Kabirdham </option>#}
{#                        <option> Mahasamund </option>#}
{#                        <option> Mungeli </option>#}
{#                        <option> Narayanpur </option>#}
{#                        <option> Raigarh </option>#}
{#                        <option> Rajnandgaon </option>#}
{#                        <option> Raipur </option>#}
{#                        <option> Surajpur </option>#}
{#                        <option> Sukma </option>#}
{#                        <option> Surguja </option>#}
{#                        <option> Gaurela-Pendra-Marwahi </option>#}
{#                    </select>#}
{#            </th>#}
{#        </tr>#}

        <tr>
            <th colspan="2" style="text-align: center;padding-top: 20px">
                <button type="submit" class="btn btn-outline-primary"> Add </button>
            </th>
        </tr>

    </table>
    </form>

    <br><br>
    {% if state %}
    <table border="2" align="center" cellpadding="10">
        <tr>
            <th class="data"> Idno </th>
            <th class="data"> State Name </th>
            <th class="data">Update</th>
            <th class="data">Delete</th>
        </tr>
        {% for x in state %}
            <tr>
                <th style="color: darkslateblue">{{ x.state_id }}</th>
                <th style="color: darkslateblue">{{ x.state_name }}</th>
                <th style="text-align: center"><a href="?id={{ x.state_id }}"> <img src="{% static 'images/refresh1.png' %}"> </a> </th>
                <th style="text-align: center"><a href="?id={{ x.state_id }}"> <img src="{% static 'images/delete2.png' %}" width="32" height="32"> </a> </th>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

 <br><br><br>
{% endblock %}

{% else %}
    <h3 style="text-align: center;color: magenta"> Please Login ! </h3>
{% endif %}