
{% extends 'common.html' %}
{% block yash %}
    {% load static %}
    {% include 'menu.html' %}
    <style>
        canvas{
    /*prevent interaction with the canvas*/
    pointer-events:none;

    }
    </style>

    <br>
    {% if msg %}
        <h3 style="text-align: center;color: magenta"> {{ msg }}</h3> <br>
    {% endif %}

    <form onsubmit="return validateCaptcha()" action="{% url 'distributor_check_status' %}" method="post">
    {% csrf_token %}
    <table align="center" border="0" cellpadding="7" width="40%">
        <tr>
            <th colspan="2" style="text-align: center;background-color: #14498c;color: white;font-size: 20px">
                Check Registration Status
            </th>
        </tr>
        <tr> <th> </th></tr>
        <tr>
            <th> Reference Number <font color="red">*</font> </th>
            <th>
                <input class="form-control" type="number" placeholder="Reference Number" name="c1" required>
            </th>
        </tr>
        <tr>
            <th> Date of Birth <font color="red">*</font> </th>
            <th>
                <input class="form-control" type="date" placeholder="Date of Birth" name="c2" required>
            </th>
        </tr>

        <tr>
            <th> Captcha Code <font color="red">*</font> </th>
        <th>
            <input class="form-control" type="text" placeholder="Enter Captcha code shown below" name="c3" id="cpatchaTextBox" required>
        </th>
        </tr>

        <tr>
        <th colspan="2" style="font-family: 'Times New Roman'; font-size: 20px; color: red;text-align: center;padding-left: 130px">
            <table border="0" width="300" cellpadding="5">
            <tr>
                <th> Captcha Code : </th>
                <th> <span id="captcha"> </span>
                <th>
                    <img src="{% static 'images/refresh.png' %}" width="25" height="25" onclick="createCaptcha()">
                </th>
            </tr>
            </table>
        </th>

        </tr>
        <tr>
            <th colspan="2" style="text-align: center;padding-top: 30px;padding-left: 20px">
                <button type="submit" class="btn btn-outline-primary"> Check Status </button>
            </th>
        </tr>
    </table>
    </form>

    <br><br>

    <script>
         var code;
    function createCaptcha() {
    //clear the contents of captcha div first
    document.getElementById('captcha').innerHTML = "";
    var charsArray =
    "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
    var lengthOtp = 6;
    var captcha = [];
    for (var i = 0; i < lengthOtp; i++) {
    //below code will not allow Repetition of Characters
    var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
    if (captcha.indexOf(charsArray[index]) == -1)
      captcha.push(charsArray[index]);
    else i--;
    }
    var canv = document.createElement("canvas");
    canv.id = "captcha";
    canv.width = 100;
    canv.height = 50;
    var ctx = canv.getContext("2d");
    ctx.font = "25px Georgia";
    ctx.strokeText(captcha.join(""), 0, 30);
    //storing captcha so that can validate you can save it somewhere else according to your specific requirements
    code = captcha.join("");
    document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
    }

    function validateCaptcha() {
    //event.preventDefault();
    //debugger
    if (document.getElementById("cpatchaTextBox").value == code) {
        //alert("Valid Captcha")
        return true;
    }
    else{
        //cpatchaTextBox.setCustomValidity("Invalid Captcha. try Again");
        alert("Invalid Captcha. try Again");
        createCaptcha();
        return false;
        }
    }
    </script>
{% endblock %}