
{% extends 'common.html' %}
{% if request.session.admin_status %}
{% block yash %}
    {% load static %}
    {% include 'admin_menu.html' %}

    <style>
        .data{
            text-align: center;
            color: darkslateblue;
        }
        .header{
            text-align: center;
            font-size: 20px;
            color: #ff00ff;
            background-color: #d6edf8;
        }
    </style>
    <br>
    <div style="height:auto; overflow-x: scroll;padding: 5px; width: 1510px">
    <table align="center" border="2" cellpadding="5">
    <tr>
        <th colspan="24" style="text-align: center;font-size: 25px;background-color: cornflowerblue;color: white">
            All Distributors
        </th>
    </tr>
    <tr>
        <th class="header"> Date </th>
        <th class="header"> Idno </th>
        <th class="header"> Name </th>
        <th class="header"> Father's Name </th>
        <th class="header"> Date Of Birth </th>
        <th class="header"> Gender </th>
        <th class="header"> Username </th>
        <th class="header"> Mobile No </th>
        <th class="header"> Email-Id </th>
        <th class="header"> Address </th>
        <th class="header"> Id Proof </th>
        <th class="header"> Id Proof No </th>
        <th class="header"> Address Proof </th>
        <th class="header"> Address Proof No </th>
        <th class="header"> Agency Name </th>
        <th class="header"> Agency Registration </th>
        <th class="header"> Agency Address </th>
        <th class="header"> Photo </th>
        <th class="header"> Agency Photo </th>
        <th class="header"> Id Proof File </th>
        <th class="header"> Address File </th>
        <th class="header"> Status </th>
        <th class="header"> Approved </th>
        <th class="header"> Cancel </th>

    </tr>
    {% for x in data %}
        <tr>
        <th class="data"> {{ x.date }}</th>
        <th class="data"> {{ x.idno }}</th>
        <th class="data"> {{ x.fname }} {{ x.lname }}</th>
         <th class="data"> {{ x.ftname }}</th>
        <th class="data"> {{ x.dob }}</th>
        <th class="data"> {{ x.gender }}</th>
        <th class="data"> {{ x.username }}</th>
        <th class="data"> {{ x.mobile }}</th>
        <th class="data"> {{ x.email }}</th>
        <th class="data"> <textarea> {{ x.house }} {{ x.street }} {{ x.city }} {{ x.district }} {{ x.state }} {{ x.pincode }} </textarea></th>
        <th class="data"> {{ x.id_proof }}</th>
        <th class="data"> {{ x.id_number }}</th>
        <th class="data"> {{ x.add_proof }}</th>
        <th class="data"> {{ x.add_id }}</th>
        <th class="data"> {{ x.agenncy_name }}</th>
        <th class="data"> {{ x.agency_reg }}</th>
        <th class="data"> <textarea> {{ x.agency_add }} </textarea></th>

        <th class="data"> <img src="{{ x.photo.url }}" width="80" height="80"></th>
        <th class="data"> <img src="{{ x.agency_file.url }}" width="80" height="80"></th>
        <th class="data"> <img src="{{ x.id_file.url }}" width="80" height="80"></th>
        <th class="data"> <img src="{{ x.add_file.url }}" width="80" height="80"></th>

        <th class="data"> {{ x.status }}</th>
        <th class="data">
            <form action="{% url 'dealer_approval' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ x.idno }}" name="t1">
            <button type="submit" class="btn btn-outline-success"> Approved </button>
            </form>
        </th>
        <th class="data">
            <form action="{% url 'dealer_decline' %}" method="post">
             {% csrf_token %}
            <input type="hidden" value="{{ x.idno }}" name="t1">
            <button type="submit" class="btn btn-outline-danger"> Cancel </button>
            </form>
        </th>
        </tr>

    {% endfor %}

    </table>
    </div>

<br><br>
{% endblock %}

{% else %}
    <h3 style="text-align: center;color: magenta"> Please Login ! </h3>
{% endif %}